.intro-section {
  font-family:  "Bodoni Moda", serif;
  font-style: italic;

  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  


  .header-one {
    line-height: 1.12;
    font-size: 7vw;

    opacity: 0;
    color: 'black';

    > div {
      opacity: 0;
      transform: translateY(100px)
    }
    &.is-reveal {
      opacity: 1;

    }
  }

  .header-two {
    line-height: 1.12;
    font-size: 6vw;
    text-align: right;

    opacity: 0;
    color: 'black';

    > div {
      opacity: 0;
      transform: translateY(100px);
    }
    &.is-reveal {
      opacity: 1;
    }

  }


}


.header-container{

  position: relative;

  .header-menu{
    position: absolute;
    left: 0;
    top: 100px;

    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: 'black';
    font-weight: 600;
    text-transform: uppercase;
    
    li {
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 20vw;
    text-transform: uppercase;
    text-align: center;
    color: 'black';
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
   
  }
}
.lineParent{
  overflow: hidden;
  .lineChildren{
    transform: translate(0, 500px);
  }
}